/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}



/****** Navbar ***********/

.navbar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.navbar img {
    width: 61px;
    height: 19px;
    margin-right: auto;
}

.menunavbar ul{
    display: flex;
    list-style-type: none;
    margin-top: auto;
}

.menunavbar ul li{
    width: 112px;
    height: 19px;
    margin-right: 15px;
}


/****** Text top and search bar ***********/

.bordure {
    display: flex;
}

.bordure .logo{
    background-color: #d9d9d9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 10px;
    justify-content: center;
}

.bordure .searchbar {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
}

.bordure .searchbar input[type="text"] {
    border: none; 
    outline: none; 
    text-align: center;
}

.bordure .btn-searchbar {
    background-color: #0065FC;
    color: #F2F2F2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.bordure .search-btn {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: #F2F2F2;
    cursor: pointer;
}


.texttop h1 {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;

}

.texttop p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.texttop h1, .texttop p {
    margin: 7px;
    text-align: left;
    margin-left: 0;
}

.texttop {
    margin-top: 50px;
    margin-bottom: 30px;
}

/******.searchbar {
    margin-bottom: 5px;
}


.thesearchbar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

.thesearchbar i {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    text-align: center;
    background-color: #d9d9d9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;

}

.thesearchbar input[type="text"] {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    height: 42px;
}

.thesearchbar input[type="submit"] {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #0065FC;
    color: #F2F2F2;
    padding: 13px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: -4px;
}***********/

/****** Filter ***********/


.filterandp {
    display: flex;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    align-items: center; /* Alignement vertical */
}

.filter ul{
    display: flex;
    list-style-type: none;
    padding: 10px;
    flex-wrap: wrap;
}

.filter ul li{
    margin-right: 15px;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    align-items: center;
    padding: 5px 20px;
}

.filter ul li:hover  {
    background-color: #DEEBFF;
}

.filter ul li a {
    display: flex;
    align-items: center; /* Pour aligner verticalement l'icône et le texte */
}
.filter ul li i {
    margin-right: 5px;
}

.filter-info {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
}

.filter-info span i {
    display: inline-block;
    width: 24px; 
    height: 24px;
    text-align: center; 
    line-height: 24px; 
    border-radius: 100%; 
    background-color: transparent; 
    border: 1px solid #d9d9d9; 
    margin-right: 10px; 
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}
.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.hebergements-cards .card{
    display: flex;
    flex-direction: column; /* Permet d'aligner les éléments verticalement */
    margin-top: 33px;
    width: 240px;
    height: 207px;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px; 

}

.hebergements-cards .card:first-child {
    margin-left: 0; 
}

.hebergements-cards .card:last-child {
    margin-right: 0;
}


.hebergements-cards img{

    
    width: 240px;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding: 10px; /* Ajoutez un espace intérieur à la carte */
    margin-top: -15px;
}

.hebergements-cards .card-txt {
    text-align: left; /* Alignez le texte à gauche */
    white-space: nowrap; /* Empêchez le texte de se retourner à la ligne */
    margin-bottom: 5px;
}


.hebergements-cards .card-title {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
}

.hebergements-cards .card-subtitle {
    margin-top: -5px;
    font-family: Raleway;
  
    
}

.hebergements-cards .card-rating {
    margin-top: -10px;
}

.hebergements-cards .more{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activiter ***********/
.activity {
    flex-wrap: wrap;
}

.activity .card{
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 20px;
    flex-direction: column;

    
}
.activity .activity-card{
    display: flex;
    justify-content: space-between;
    
}
.activity .card .card-txt {
    margin-top: 10px;

}



.activity .activity-card .card img {
    width: 297.5px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** footer ***********/

footer { 
    background-color: #d9d9d9;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.footer .footer-txt{
    display: flex;
    flex-direction: column;
}

.footer-txt span {
    display: block; /* Affiche chaque span sur une nouvelle ligne */
    margin-bottom: 10px; /* Ajoute un espacement en bas de chaque span */
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
}